# .gitlab-ci.yml
image: mcr.microsoft.com/playwright:v1.57.0-jammy

stages:
  - test

test-job:
  stage: test
  script:
    - npm ci
    - npx playwright test
  artifacts:
    when: always
    paths:
      - playwright-report/
    expire_in: 1 week
